<div class="container">
    <form class="form-horizontal">
        <fieldset>
            <legend>Register</legend>
            <div class="form-group">
                <label for="inputUsername" class="col-lg-2 control-label">Username</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="inputUsername" placeholder="Username" ng-model="user.username">
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword" class="col-lg-2 control-label">Password</label>
                <div class="col-lg-10">
                    <input type="password" class="form-control" id="inputPassword" placeholder="Password" ng-model="user.password">
                </div>
            </div>
            <div class="form-group">
                <label for="inputPasswordConfirm" class="col-lg-2 control-label">Confirm password</label>
                <div class="col-lg-10">
                    <input type="password" class="form-control" id="inputPasswordConfirm" placeholder="Confirm password" ng-model="user.confirmPassword">
                </div>
            </div>
            <div class="form-group">
                <label for="inputName" class="col-lg-2 control-label">Name</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="inputName" placeholder="Name" ng-model="user.name">
                </div>
            </div>
            <div class="form-group">
            <label for="inputPhone" class="col-lg-2 control-label">Phone</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" id="inputPhone" placeholder="Phone" ng-model="user.phone">
            </div>
            </div>
            <div class="form-group">
                <label for="inputEmail" class="col-lg-2 control-label">Email</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="inputEmail" placeholder="Email" ng-model="user.email">
                </div>
            </div>
            <div class="form-group">
                <label for="inputTown" class="col-lg-2 control-label">Town</label>
                <select id="inputTown" ng-options="town.id as town.name for town in towns" ng-model="user.townId"></select>
            </div>


            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    <button class="btn btn-default">Cancel</button>
                    <button type="submit" class="btn btn-primary" ng-click="register(user)">Submit</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>